*{
font-family: 'Open Sans', sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
  background: #eeeeee;
}

#pagecontainer {
  position: relative;
}

.container {
max-width: 1000px;
width: 100%;
margin: 0 auto;
}

#header{
top: 0;
width: 100%;
height: 70px;
padding: 0px 15px;
position: fixed;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #d77443;

}
#titulosHeader{
width: 55vw;
}
#header-img {
width: 50%;
height: 50%;
max-width: 100px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
text-align: flex-start;
}

#nav-bar {
font-weight: 400px;
}

nav > ul {
width: 35vw;
display: flex;
flex-direction: row;
justify-content:space-around;
}

li{
  list-style: none;  
}

a {
color: #000;
text-decoration: none;
}

#form-container, #contacto {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: 200px;
margin-top: 100px;
}

#form-container, #contacto > h2 {
  word-wrap: break-word;
  padding: 20px;
}


.prod {
display:flex;
align-items: center;
justify-content: center;

}

i{
margin: 50px;
color: #df6e1b;
font-size: 30px;
}


.info{
display: flex;
flex-direction: column;
justify-content: center;
height: 125px;
width: 80vw;
padding: 5px;
}


#proyectos {
margin-top: 60px;
display: flex;
flex-direction: row;
justify-content: center;
width: 1500px;
height: 500px;
margin-left: -250px;
}

.combos {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width: 100%;
margin: 5px;
border: 1px solid #000;
border-radius: 3px;
}
  
 
#titulo {
background-color: #ddd;
color: black;
padding: 15px 0;
width: 100%;
text-transform: uppercase;
font-weight: 700;
}

.combos > h2 {
  padding: 20px;
}

.combos > ol > li {
  padding: 5px;
}

#btn {
text-transform: uppercase;
max-width: 150px;
width: 100%;
height: 30px;
margin: 20px 0;
border: 0;
background-color: #df6e1b;
cursor: pointer;
}


#contacto {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: 100px;
margin-top: 150px;
}

footer {
margin-top: 250px;
background-color: #ddd;
padding: 20px;
}

footer > ul {
display: flex;
justify-content: flex-end;
}

footer > ul > li {
padding: 0 10px;
}

span {
margin-top: 5px;
display: flex;
justify-content: flex-end;
font-size: 0.9em;
color: #444;
padding: 0px 10px;
}



@media only screen and (max-width: 600px) {

nav > ul{
width: 50vw;
}

#produccion {
margin:20px;
padding-left:1%;
}

i{
margin: 20px;
color: #df6e1b;
font-size: 30px;
}


#proyectos {
margin-top: 50px;
display: flex;
flex-direction: column;
width: 90%;
padding-left:20;
}

.combos {
width: 100%;
margin: 10px;
border: 1px solid #000;
border-radius: 3px;
}

}

img {
  width: 85%;
}

.invert{
  filter:invert(1);
}